@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffaf3;
  font-family: 'Lora', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
}


.header {
  background: none;
  /* color: white; */
  transition: all 0.15s ease;
}

.top {
  top: 0px;
}

.down {
  top: -100px;
}

.up {
  top: 0px;
}

.up,
.down {
  background: #fffaf3;
  color: black;
}